/* CSS for klimwoordenboek */

@use "sass:list";
@use "sass:math";

/* font related */

$line-height: 1.5rem;
$block-top-padding: 1.5rem;
$text-indent: 0.667rem;
$font-size: 14px;
$font-size-header: 1.333rem;
$padding-height: $font-size * math.div($line-height, 1rem) * 2;
$vertical-adjust-for-font: 1.5px;


/* colors */

$background-color: oklch(0.97 0 0);
$background-color-darker: oklch(0 0 0 / 0.035);
$text-color: oklch(0.26 0 0);
$bold-color: oklch(0.32 0 0);
$underline-color: oklch(0.68 0 0);
$french-color: oklch(0.33 0.1 146.11);
$english-color: oklch(0.27 0.11 18.9);
$color-even: oklch(0.89 0.05 225.57);
$color-odd: oklch(0.86 0.05 225.57);


/* use golden ratio */

$ratio: 1.618;
$ratio-view-lower-width: 1200px;
$ratio-view-lower-height: math.round(math.div($ratio-view-lower-width, $ratio));
$ratio-view-upper-width: 1600px;
$ratio-view-upper-height: math.round(math.div($ratio-view-upper-width, $ratio));
$ratio-view-aspect-ratio: math.round(1000 * $ratio) + '/1000';

/* ------------------------------------------------------------ */

@use 'fonts-newsreader' as font;
@use 'normalize';


:root {
    font: 400 list.slash($font-size, math.div($line-height, 1rem)) font.$font-family;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-variant: common-ligatures proportional-nums oldstyle-nums;
    hyphens: auto;
    line-break: loose;
    hyphenate-limit-chars: 6 2 3;
    color: $text-color;
    background: $background-color url('../images/handmadepaper.avif') repeat scroll 0 0;
}

body {
    overscroll-behavior: contain;
    display: grid;
    grid-template-columns: 26.7% auto;
}

header {
    position: sticky;
    top: 0;
    padding: 0 6.9% $padding-height 5.5%;
    max-height: max(100vh, 100cqh);
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

main {
    padding-left: 1.6%;
    margin-right: 3.1%;
    margin-bottom: $padding-height;
}


/* on reasonably small screens the following gives nicer margins */

@media (min-width: 850px) and (max-width: 1250px) {
    :root {
        scrollbar-gutter: stable both-edges;
    }
}


/*  to get a right margin on smaller screens */

section {
    padding-right: 3.1%;
}


/* continuous column */

#spacer {
    display: none;
}

.continuous-column {
    --column-offset: #{$padding-height};
}

@media screen and (min-width: 801px) and (min-device-width: 750px) {
    .continuous-column {
        column-count: 2;
        column-gap: 28px;
        padding-top: var(--column-offset);

        #spacer+h3 {
            margin-top: calc(-1 * var(--column-offset));
        }

        /*  a block with zero height is ignored by getBoundingClientRect
            https://developer.mozilla.org/en-US/docs/Web/API/Element/getBoundingClientRect */
        #spacer {
            /* adjust margin 1px because of min height */
            margin-top: calc(100vh - #{($padding-height * 2) + 1});
            height: 1px;
            width: 100%;
            float: left;
            display: block;
            shape-outside: content-box;
            break-inside: avoid;
        }

        /* fix for firefox splitting h3 in columns */
        h3:after {
            content: " \00A0";
        }

        h3:target:after {
            text-decoration: underline $background-color 2px;
        }
    }
}


/*  on big and wide screens we use the golden ratio
    it kicks in between 1200 and 1600 pixels wide */

@media (max-height: $ratio-view-lower-height) and (min-width: $ratio-view-lower-width) {

    /* wide enough, but not high enough, body will be 1200px wide */
    body {
        max-width: $ratio-view-lower-width;
        margin-left: calc(50vw - #{$ratio-view-lower-width * 0.5})
    }

    .continuous-column {
        column-gap: 33px;
    }
}

@media (min-height: $ratio-view-lower-height) and (min-width: $ratio-view-lower-width) and (min-aspect-ratio: $ratio-view-aspect-ratio) {

    /* body will use golden ratio */
    body {
        max-width: $ratio * 100vh;
        margin-left: calc(50vw - #{$ratio * 50}vh)
    }

    .continuous-column {
        column-gap: 39px;
    }
}

@media (min-height: $ratio-view-upper-height) and (min-width: $ratio-view-upper-width) {

    /* too big, body will be 1600px wide */
    body {
        max-width: $ratio-view-upper-width;
        margin-left: calc(50vw - #{$ratio-view-upper-width * 0.5})
    }

    .continuous-column {
        column-gap: 45px;
    }
}

h1,
h2,
h3 {
    margin-block: 0;
    font-size: inherit;
    line-height: inherit;
}

h3 + p {
    padding-top: $block-top-padding;
}

h2,
h3,
nav + p {
    padding-top: $line-height;
}

p {
    text-align: justify;
    text-indent: -$text-indent;
    margin-block: 0;
    padding-left: $text-indent;
}

dfn {
    scroll-margin-block: $padding-height;
}

nav h1,
main h3 {
    font-size: $font-size-header;
    line-height: $line-height;
    padding-top: $padding-height;
}

*:target,
a:link,
a:hover,
a:active,
a:focus,
a:visited {
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.1s ease-in-out 0s;
}

a:link,
a:visited {
    text-decoration: underline $underline-color from-font;
}

*:target,
a:hover,
a:active,
a:focus,
a.active,
a.active-link {
    text-decoration: underline currentcolor 2px;
}

a:focus {
    outline: none;
}

#alphabet {
    letter-spacing: 1.5px;
}


/* language specifics */

strong,
b,
h1,
h2,
h3,
[lang|="fr"],
[lang|="en"] {
    font-weight: 450;
}

h1,
h2,
h3,
h3:target {
    color: $bold-color;
}

dfn {
    font-style: italic;
}

*[lang|="fr"] {
    font-style: inherit;
    color: $french-color;
}

*[lang|="en"] {
    font-style: italic;
    color: $english-color;
}

.nowrap {
    text-wrap-mode: nowrap;
}


/* make left column pushable to the left on a small screen */

@media (max-width: 549px) {
    body {
        min-width: max(400px, 135vw);
    }

    header p {
        text-align: left;
    }

    main {
        margin-right: 3vw;

        h3 {
            scroll-margin-right: 3vw;
        }
    }

    #grading-tables section {
        padding-right: 3vw;
    }
}


/* grading tables */

.grading-table {
    margin-top: $block-top-padding;
    position: relative;

    &:hover::before {
        content: "";
        position: absolute;
        inset: -$vertical-adjust-for-font 0 $vertical-adjust-for-font;
        z-index: -1;
        background: linear-gradient(to right, $background-color-darker, $background-color-darker 50%, transparent 50%, transparent) left top / 64px 100%;
    }

    display: table;

    table {
        border-collapse: collapse;

        td {
            padding: 0;
        }
    }

    td {
        font-size: 0.85rem;
        text-align: center;
        line-height: $line-height;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: -$vertical-adjust-for-font 0 $vertical-adjust-for-font;
            z-index: -1;
        }

        &:nth-child(odd)::before {
            background-color: $color-odd;
        }

        &:nth-child(even)::before {
            background-color: $color-even;
        }
    }
}

.decp {
    letter-spacing: -0.5px;
}

.decp1 {
    letter-spacing: -1px;
}


/* adjust text in grading tables */

h3:has(+ section),
section p {
    position: sticky;
    width: max-content;
    left: 1.2%;
}


/* print */

@media print {
    page {
        margin: 10%;
    }

    p {
        break-inside: avoid-page;
    }

    h3 {
        break-after: avoid-page;
    }
}
