RewriteEngine on

# Redirect to index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]

# Add javscript module type
AddType text/javascript .mjs

# set charset for .css and .js files
AddCharset UTF-8 .css .js .mjs

# Add font types
Addtype font/woff2 .woff2

# Add image types
AddType image/webp .webp

# Caching directives (http://www.askapache.com/htaccess/speed-up-sites-with-htaccess-caching.html)
<ifModule mod_headers.c>
    Header append Cache-Control "public"
</ifModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 day"
    ExpiresByType font/woff2 "access plus 1 month"
    ExpiresByType image/vnd.microsoft.icon "access plus 1 month"
</IfModule>

<IfModule mod_deflate.c>
    <FilesMatch "\.(mjs)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>
