/* CSS for klimwoordenboek */

:root {
    --background-color: oklch(0.97 0 0);
    --text-color: oklch(0.26 0 0);
    --bold-color: oklch(0.32 0 0);
    --underline-color: oklch(0.68 0 0);
    --french-color: oklch(0.33 0.1 146.11);
    --english-color: oklch(0.27 0.11 18.9);

    font: 400 14px/1.5 var(--font-name), serif;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-variant: common-ligatures proportional-nums oldstyle-nums;
    hyphens: auto;
    line-break: loose;
    hyphenate-limit-chars: 6 2 3;
    color: var(--text-color);
    background: var(--background-color) url('images/handmadepaper.avif') repeat scroll 0 0;
    overscroll-behavior: contain;
}

body {
    display: grid;
    grid-template-columns: 26.7% auto;
}

header {
    container-type: inline-size;
    position: sticky;
    top: 0;
    margin-inline: 5.5% 6.9%;
    padding-bottom: 2rlh;
    max-height: 100lvh;
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

main {
    margin: 2rlh 3.1% 2rlh 1.6%
}


/* on reasonably small screens the following gives nicer margins */

@media (850px <= width <= 1250px) {
    :root {
        scrollbar-gutter: stable both-edges;
    }
}


/*  to get a right margin on smaller screens */

section {
    padding-right: 3.1%;
}


/* continuous column */
var(--ratio-view-lower-width)
#spacer {
    display: none;
}

@media screen and (width > 800px) and (device-width >= 750px) {
    .continuous-column {
        column-count: 2;
        column-gap: 4.1%;
        padding-top: var(--column-offset);

        #spacer+h3 {
            margin-top: calc(-1 * var(--column-offset));
        }

        /*  a block with zero height is ignored by getBoundingClientRect
            https://developer.mozilla.org/en-US/docs/Web/API/Element/getBoundingClientRect */
        #spacer {
            /* adjust margin 1px because of min height */
            margin-top: calc(100svh - 4rlh - 1px);
            height: 1px;
            width: 100%;
            float: left;
            display: block;
            shape-outside: content-box;
            break-inside: avoid;
        }

        /* fix for firefox splitting h3 in columns */
        h3:after {
            content: " \00A0";
        }

        h3:target:after {
            text-decoration: underline var(--background-color) 2px;
        }
    }
}


/*  on big and wide screens we use the golden ratio */

@media (height < 742px) {

    /* not high enough: don´t use golden ratio */
    body {
        --max-width: 1200px;
    }
}

@media (height >= 742px) and (aspect-ratio >= 1618/1000) {

    /* body will use golden ratio */
    body {
        --max-width: 161.8vh;
    }
}

@media (height >  989px) and (width >= 1600px) {

    /* very big: maximize width */
    body {
        --max-width: 1600px;
    }
}

@media (width >= 1200px) {

    /* wide enough: apply */
    body {
        max-width: var(--max-width);
        margin-left: calc(50vw - var(--max-width) / 2)
    }
}


/* headings, paragraphs and links */

h1,
h2,
h3 {
    margin-block: 0;
    font-size: inherit;
    line-height: inherit;
}

h2,
h3,
:is(nav, h3) + p {
    padding-top: 1rlh;
}

p {
    text-align: justify;
    text-indent: -0.667rem;
    padding-left: 0.667rem;
    margin-block: 0;
}

dfn {
    scroll-margin-block: 2rlh;
}

h1,
main h3 {
    font-size: 1.333rem;
    line-height: 1rlh;
    padding-top: 2rlh;
}

main h3:first-of-type {
    padding-top: 0;
}

*:target,
a:is(:link, :hover, :active, :focus, :visited) {
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.1s ease-in-out 0s;
}

a:is(:link, :visited) {
    text-decoration: underline var(--underline-color) from-font;
}

:target,
a:is(.active, .active-link, :hover, :active, :focus) {
    text-decoration: underline currentcolor 2px;
}

a:focus {
    outline: none;
}

#alphabet {
    letter-spacing: 1.5px;
}


/* language specifics */

strong,
b,
h1,
h2,
h3,
:lang(fr),
:lang(en) {
    font-weight: 450;
}

h1,
h2,
h3,
h3:target {
    color: var(--bold-color);
}

dfn {
    font-style: italic;
}

:lang(fr) {
    font-style: inherit;
    color: var(--french-color);
}

:lang(en) {
    font-style: italic;
    color: var(--english-color);
}

.nowrap {
    text-wrap-mode: nowrap;
}


/* make left column pushable to the left on a small screen */

@media (width < 550px) {
    body {
        min-width: max(400px, 135vw);
    }

    main {
        margin-right: 3vw;

        h3 {
            scroll-margin-right: 3vw;
        }
    }

    #grading-tables section {
        padding-right: 3vw;
    }
}


/* adjust header text alignment on smaller screens */

@container (width < 185px) {
    header p {
        text-align: left;
    }
}


/* grading tables */

.grading-table {
    margin-top: 1rlh;
    position: relative;
    --background-color-darker: oklch(0 0 0 / 0.035);
    --color-even: oklch(0.89 0.05 225.57);
    --color-odd: oklch(0.86 0.05 225.57);
    --vertical-adjust-for-font: 1.5px;

    &:hover::before {
        content: "";
        position: absolute;
        inset: calc(var(--vertical-adjust-for-font) * -1) 0 var(--vertical-adjust-for-font);
        z-index: -1;
        background: linear-gradient(to right, var(--background-color-darker), var(--background-color-darker) 50%, transparent 50%, transparent) left top / 64px 100%;
    }

    display: table;

    table {
        border-collapse: collapse;

        td {
            padding: 0;
            font-size: 0.85rem;
            text-align: center;
            line-height: 1rlh;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                inset: calc(var(--vertical-adjust-for-font) * -1) 0 var(--vertical-adjust-for-font);
                z-index: -1;
            }

            &:nth-child(odd)::before {
                background-color: var(--color-odd);
            }

            &:nth-child(even)::before {
                background-color: var(--color-even);
            }
        }
    }
}

.decp {
    letter-spacing: -0.5px;
}

.decp1 {
    letter-spacing: -1px;
}


/* make headers stick horizontally in grading tables */

h3:has(+ .grading-table),
.grading-table p {
    position: sticky;
    width: max-content;
    left: 1.2%;
}


/* print */

@media print {
    page {
        margin: 10%;
    }

    p {
        break-inside: avoid-page;
    }

    h1,
    h2,
    h3 {
        break-after: avoid-page;
    }
}
